<h2>Hi! You're on the homepage.</h2>
    {{#if status}}
        <h4>You're logged in</h4>
        
        
        <div class="embed-responsive embed-responsive-16by9">
             <iframe width="620" height="415"
                src="https://www.youtube.com/watch?v=4kLviL8XwAI&ab_channel=ChillMusicLab">
            </iframe> 
        </div>
    
    {{else}}
       <h4>Oops! Looks like you're not logged in 😲</h4>
    {{/if}}

